{% extends 'base.html' %}

{% block content %}

<div class="container border border" style="width:60%;margin-top:50px;">
<form action="{% url 'add_post' %}" method="POST">
    {% csrf_token %}
    <div class="mb-3 mt-3">
        <h1>
           <marquee> <b>New Post !!!</b></marquee>
        </h1>
        <br>
        <br>
      <label for="singer_name" class="form-label">Name</label>
      <input type="text" class="form-control" id="email" placeholder="Enter email" name="singer_name">
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Image</label>
      <input type="file" name="image" class="form-control" >
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="description">
      </div>
    <div class="d-flex justify-content-center">
        <button type="submit " class="btn btn-primary" style="width:20%;border-radius:50px;">Submit</button>
    </div>
    <br>

  </form>
</div>
{% endblock %}