{% extends 'base.html' %}

{% block content %}
<br>
<br>
<h1>Welcome Yogeshkannah</h1>
<br>

{% if posts %}
<div class="row" >
  {% for post in posts %}
  <div class="col-sm-4" style="justify-content:space-between;padding:20px;">
    <div class="card" style="justify-content:space-between;padding:20px;">
      <h5 class="card-title">{{post.category}}</h5>
        <img src={{post.image.url}} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{post.name}}</h5>
          <p class="card-text">{{post.description}}</p>
        </div>
      </div>
    </div>
      {% endfor %}
</div>
{% else %}
<h1>There were no posts uploaded yet..</h1>
{% endif %}
<div class="row d-flex justify-content-center" >
  <a href="{% url 'add_post' %}">
  </a>
    <br>

</div>
<br>
<br>
<br>

{% endblock %}